mixin track(modifier)
  section.track&attributes(attributes)
    .track__content 
      h2.track__title ТРЕК ПОРТИМАО
      p.track__text Autodromo Internacional do Algarve находится в одноименном регионе на юге Португалии, недалеко от города Портиман. Открытый в октябре 2008 года автогоночный комплекс является одним из самых современных в Европе, раскинувшись на площади около 300 гектаров среди холмов, окружающих португальский город, а длина самой трассы составляет 4684 метра.
      img(src="img/lamba.png" alt="Авто на треке").track__img