mixin slider(modifier)
  section.slider&attributes(attributes)
    .slider__content 
      h2.slider__titleone БЛОГ
      .slider__swiper
        .slider__swiper-wrapper
          .slider__swiper-slide
            img(src="img/blog-1.jpg" alt="Финал в Портимане").slider__img
            h3.slider__title НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
            p.slider__text Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение титула Lamborghini Super Trofeo Grand Finals в Северную Америку впервые с 2017 года после победы и второе место в паре 50-минутных гонок на Autodromo Nacionale do Algarve в Портимане.Между тем, титул Pro-Am был подорван, поскольку Брайан Ортис и Себастьян Карасо из 
            a(href="#").slider__link читать подробнее...
          .slider__swiper-slide
            img(src="img/blog-2.jpg" alt="Гранд финал").slider__img
            h3.slider__title ГРАНД ФИНАЛ. ДЕНЬ 1
            p.slider__text Утренний дождь означал, что мокрая гонка была объявлена ​​до старта, и перед большинством экипажей стоял выбор: использовать слики или мокрые шины. Большинство участников предпочли мокрую трассу, но поулист Спинелли начал гонку на сликах и сразу же поплатился за это. Huracan № 61 опустился вниз, заняв всего 28-е место, поскольку 
            a(href="#").slider__link читать подробнее...
          .slider__swiper-slide
            img(src="img/blog-1.jpg" alt="Финал в Портимане").slider__img
            h3.slider__title НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
            p.slider__text Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение титула Lamborghini Super Trofeo Grand Finals в Северную Америку впервые с 2017 года после победы и второе место в паре 50-минутных гонок на Autodromo Nacionale do Algarve в Портимане.Между тем, титул Pro-Am был подорван, поскольку Брайан Ортис и Себастьян Карасо из 
            a(href="#").slider__link читать подробнее...
          .slider__swiper-slide
            img(src="img/blog-2.jpg" alt="Гранд финал").slider__img
            h3.slider__title ГРАНД ФИНАЛ. ДЕНЬ 1
            p.slider__text Утренний дождь означал, что мокрая гонка была объявлена ​​до старта, и перед большинством экипажей стоял выбор: использовать слики или мокрые шины. Большинство участников предпочли мокрую трассу, но поулист Спинелли начал гонку на сликах и сразу же поплатился за это. Huracan № 61 опустился вниз, заняв всего 28-е место, поскольку 
            a(href="#").slider__link читать подробнее...
        .slider__buttons
          .slider__swiper-button-prev
            include img/arrow-left.svg
          .slider__swiper-button-next
            include img/arrow-right.svg
            