mixin promo(modifier)
  section.promo&attributes(attributes)
    .promo__contant
      .promo__inner
        h1.promo__title LAMBORGHINI SUPER TROFEO
        h2.promo__subtitle Гранд-финал 2022
          span.promo__data 3-6 ноября 
        p.promo__text автодром Портимао,Португалия
        a.promo__arrow(href="#")
          include img/arrow.svg