.info {
    margin-bottom: 100px;
    
    &__content {
        max-width: 950px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__info-part {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    &__info-part {
        &--third {
            padding-top: 66px;
        }
        
    }

    &__info-part {
        &--first {
            display: block;
        }
    }

   
    &__title {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: px-to-em(32);
        line-height: 118%;
        text-transform: uppercase;
        color: #040404;
        margin-bottom: 34px;
    }

   
    &__text {
        font-family: 'Roboto Condensed';
        font-size: px-to-em(14);
        line-height: 120%;
        color: #040404;
        flex-basis: 440px;
        margin-bottom: 30px;
    }

    &__img,
    &__image {
        object-fit: cover;
        max-width: 100%;
    }

    &__textone {
        display: flex;
        justify-content: space-between;
        gap: 0 20px;
    }

    &__textbox {
        flex-basis: 380px;
    }

    &__table {
        border-bottom: 1px solid #040404;
        border-top: 1px solid #040404;
    }

    &__lvl:first-child {
        padding-top: 20px;
    }

    &__lvl {
        display: grid;
        grid-template-columns: 110px 180px 130px;
    }

    &__line {
        padding-bottom: 20px;
        font-family: 'Roboto Condensed';
        font-size: px-to-em(13);
        line-height: 120%;
        color: #040404;

    }

    @media screen and (max-width: 925px) {
        text-align: center;
        &__textone {
            display: block;
            padding-bottom: 15px;
           
        }

        &__info-part {
            display: block;
        }

        &__table {
            width: 100%;
            text-align: left;
        }

        &__lvl {
            grid-template-columns: 2fr 2fr 1.5fr;
        }
    }


    @media screen and (max-width: 485px) {
        &__lvl {
            grid-template-columns: 130px 2fr 130px;
        }

        &__line {
            font-size: px-to-em(10);
            font-weight: 700;
        }
    }

    @media screen and (max-width: 415px) {
        text-align: left;
        &__lvl {
            grid-template-columns: 2.1fr 3fr 2.5fr;
        }

        &__line {
            font-size: px-to-em(9.5);
        }
    }

}
