mixin evo(modifier)
  section.evo&attributes(attributes)
    .evo__black 
      .evo__bcontent
        .evo__black-inner
          .evo__black-info
            h2.evo__blackt-title СУПЕР ТРОФЕО ЭВО
            .evo__blackbox 
              p.evo__blacktext Новый Huracán Super Trofeo EVO достигает еще больших высот, чем его прославленный предшественник, благодаря полностью переработанной аэродинамике. Huracán Super Trofeo EVO является идеальной стартовой площадкой для всех водителей, которые хотят начать карьеру в гонках класса GT.
              p.evo__blacktext Huracán EVO — это эволюция самого успешного Lamborghini с двигателем V10. В результате тонкой настройки и усовершенствования существующих функций в сочетании с новыми конструктивными решениями, повышающими производительность, автомобиль выделяется своей способностью предугадывать и удовлетворять поведение, ожидания и желания водителя.
          img(src="img/evo.png" alt="Huracán Super Trofeo EVO").evo__black-img
          .evo__list
            .evo__line 
              .evo__present ПЕРЕМЕЩЕНИЕ
              .evo__discription 5204 см³
            .evo__line 
              .evo__present  КРУТЯЩИЙ МОМЕНТ
              .evo__discription 570 Нм при 6500 об/мин  
            .evo__line 
              .evo__present МОЩНОСТЬ (л.с.) / МОЩНОСТЬ (КВТ)
              .evo__discription 620 л.с. при 8250 об/мин
            .evo__line 
              .evo__present МАКС. СКОРОСТЬ
              .evo__discription 325 км /ч
            .evo__line 
              .evo__present 0-100 КМ/Ч
              .evo__discription 2,9 с
    .evo__white
      .evo__wcontent
        .evo__white-inner
          p.evo__white-text Его неповторимый дизайн — это естественная эволюция культовых линий Huracán, включающая новые сложные решения, поднимающие производительность и вызывающие эмоции на невиданный ранее уровень.
            img(src="img/kind.png" alt="Спорт-кар").evo__img
          p.evo__white-text Беспрецедентный обвес был разработан инженерами отдела автоспорта Automobili Lamborghini в сотрудничестве с Dallara Engineering и Lamborghini Centro Stile. Последний также разработал стартовую ливрею для автомобиля в честь партнерства между Lamborghini Squadra Corse и Roger Dubuis, которое началось в 2018 году.
            img(src="img/lambor.png" alt="Ламборджини").evo__img
          p.evo__white-text Среди наиболее очевидных изменений в обвесе Lamborghini Huracan Super Trofeo EVO — задний спойлер на заднем капоте и верхний воздухозаборник, которые делают его мгновенно узнаваемым для зрителей.
          .evo__white-video 
            a(href="#").evo__link
              include img/evo-icon.svg
              span.evo__prev смотреть онлайн