.evo {
    margin-bottom: 100px;

    &__bcontent,
    &__wcontent {
        max-width: 950px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__black {
        background-color: #363636;
        padding: 100px 0 50px;
        color: #FFFFFF;
    }

    &__black-inner {
        position: relative;
    }

    &__black-inner::before {
        content: '';
        background-image: url(../img/dec-1.svg);
        width: 185px;
        height: 213px;
        position: absolute;
        top: 210px;
        left: -130px;
    }

    &__black-inner::after {
        content: '';
        background-image: url(../img/dec-2.svg);
        width: 498px;
        height: 572px;
        position: absolute;
        top: 290px;
        left: -40px;
    }

    &__black-info {
        display: flex;
        justify-content: space-between;
    }

    &__blackt-title {
        font-family: 'Roboto Condensed';
        font-weight: 300;
        font-size: px-to-em(32);
        line-height: 118%;
        text-transform: uppercase;
        padding-right: 50px;
        
    }

    &__blackbox {
        flex-basis: 437px;
    }

    &__blacktext {
        margin-bottom: 30px;
        font-family: 'Roboto Condensed';
        font-size: px-to-em(14);
        line-height: 120%;
    }

    &__black-img {
        display: block;
        margin: 170px auto 60px;
        z-index: 1;
        position: relative;
        max-width: 100%;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 0 65px;
        font-family: 'Roboto Condensed';
        font-weight: 400;
        font-size: px-to-em(14);
        line-height: 120%;

    }

    &__white-inner {
        padding-top: 125px;
        position: relative;
    }

    &__white-inner::before {
        content: '';
        background-image: url(../img/dec-3.png);
        width: 274px;
        height: 257px;
        position: absolute;
        top: -40px;
        left: 360px;
    }

    &__white-inner::after {
        content: '';
        background-image: url(../img/dec-4.png);
        width: 324px;
        height: 311px;
        position: absolute;
        top: 115px;
        left: 620px;
    }


    &__white-text {
        margin-bottom: 30px;
        font-family: 'Roboto Condensed';
        font-size: px-to-em(14);
        line-height: 120%;
        color: #040404;
    }

    &__white-text:first-child {
        max-width: 285px;
    }

    &__white-text:nth-child(2) {
        max-width: 435px;

    }

    &__white-text:nth-child(3) {
        max-width: 590px;
    }

    &__white-video {
        margin-top: 100px;
        background-image: url(../img/video.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 273px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__link {
        text-decoration: none;
    }

    &__prev {
        display: block;
        color:  #FFFFFF;
        text-decoration: none;
    }

    &__img {
        display: none;
    }

    @media screen and (max-width: 960px) {
        text-align: center;

        &__white-inner::after {
            display: none;
        }

        &__white-inner::before {
            display: none;
        }

        &__list {
            font-size: px-to-em(12);
            gap: 0 30px;
        }

        &__black-info {
            display: block;
        }

        &__blackt-title {
            padding-right: 0;
            margin-bottom: 20px;
        }

        &__white-text {
            text-align: left;
        }

        &__black-inner::after {
            display: none;
        }

        &__black-inner::before {
            display: none;
        }

        &__img {
            display: block;
            margin: 50px auto;
            max-width: 100%;
            object-fit: cover;
        }

        &__white-text:nth-child(n) {
            max-width: 100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 700px) {
        &__list {
            display: block;
            font-size: px-to-em(15);
            
        }

        &__line {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 360px) {
        &__black-info {
            text-align: left;
        }

        &__white-text:nth-child(n) {
            text-align: left;
        }
    }
}