mixin blog(modifier)
  section.blog&attributes(attributes)
    .blog__content 
      .blog__box
        .blog__blog 
          span.blog__prof Чемпион Am
          .blog__name Анджей Левандовски 
          p.blog__text «Я очень доволен титулом, моей второй победой в Am и четвертой в Super Trofeo, мне очень приятно делать это в этом году, потому что уровень соревнований очень высок. Должен сказать, сегодня было довольно легко, так как я все время контролировал ситуацию».
        .blog__blog 
          span.blog__prof Обладатель кубка Lamborghini
          .blog__name Жерар ван дер Хорст 
          p.blog__text «Я очень доволен титулом, моей второй победой в Am и четвертой в Super Trofeo, мне очень приятно делать это в этом году, потому что уровень соревнований очень высок. Обладатель кубка Lamborghini  добавил: «Здорово выиграть титул, спустя четыре года после последнего».
      img(src="img/champion.png" alt="Чемпион").blog__img